<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#212121" />
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="{{ asset('favicon.png', 'img') }}" />

    <meta name="og:url" content="{{ app.request_stack.getCurrentRequest.getUri }}" />
    <meta name="og:title" content="{{ title }}" />
    <meta name="og:description" content="I'm an enthusiastic web developer and free time gamer from Hamburg, Germany." />
    <meta name="og:image" content="{{ asset('og_banner.png', 'img') }}" />

    <link href="{{ asset('styles.min.css', 'css') }}" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="{{ asset('html5shiv.min.js', 'js') }}"></script>
    <script src="{{ asset('respond.min.js', 'js') }}"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target="#nav-menu" data-offset="164">
    <header id="header" class="container">
        <nav class="navbar navbar-dark">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="nav-menu">
                {% block menu %}{% endblock %}
            </div>
        </nav>
    </header>

    <div class="container padding-0">
        <article id="content">
            {% block content %}{% endblock %}
        </article>
        <footer id="footer">
            <div class="top">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Find me</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://facebook.com/tkwitkowski" target="_blank" class="social-facebook circle-40 inline-block" data-toggle="tooltip" title="Facebook">
                                    <i class="icon fa-facebook font-size-16"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/Gummibeer" target="_blank" class="social-github circle-40 inline-block" data-toggle="tooltip" title="Github">
                                    <i class="icon fa-github font-size-16"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://instagram.com/dev.gummibeer" target="_blank" class="social-instagram circle-40 inline-block" data-toggle="tooltip" title="Instagram">
                                    <i class="icon fa-instagram font-size-16"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://steamcommunity.com/id/gummibeer" target="_blank" class="social-steam circle-40 inline-block" data-toggle="tooltip" title="Steam">
                                    <i class="icon fa-steam font-size-16"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://kickstarter.com/profile/gummibeer" target="_blank" class="social-kickstarter circle-40 inline-block" data-toggle="tooltip" title="Kickstarter">
                                    <i class="icon fa-heart font-size-16"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://xing.com/profile/Tom_Witkowski" target="_blank" class="social-xing circle-40 inline-block" data-toggle="tooltip" title="Xing">
                                    <i class="icon fa-xing font-size-16"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/in/dev-gummibeer" target="_blank" class="social-linkedin circle-40 inline-block" data-toggle="tooltip" title="LinkedIn">
                                    <i class="icon fa-linkedin font-size-16"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Contact me</h3>
                        <ul class="list-icons list-unstyled">
                            <li>
                                <i class="icon fa-phone text-primary"></i>
                                +49 162 1525105
                            </li>
                            <li>
                                <i class="icon fa-envelope-o text-primary"></i>
                                dev.gummibeer@gmail.com
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <ul class="copyright list-inline">
                    <li>
                        &copy; Copyright 2015 - {{ "now"|date('Y') }} by Tom Witkowski. All rights reserved.
                    </li>
                    <li>
                        <a href="/imprint">Imprint</a>
                    </li>
                    <li>
                        <a href="/privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

    <script async src="{{ asset('scripts.min.js', 'js') }}"></script>
</body>
</html>